@using BlazorCodemy.Shared;
<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@Item.Name</div>
    <ul>
        @foreach (var topping in Item.Shippings)
        {
            <li>+ @topping.Name</li>
        }
    </ul>
    <div class="item-price">
        @Item.GetFormattedTotalPrice()
    </div>
</div>

@code {
    [Parameter] public ShopElement Item { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}