@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.png" />
    </a>

    <NavLink href="order" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/shop.png" />
        <div>Shop</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/cart.png" />
        <div>Ordini</div>
    </NavLink>

   

</div>

<div class="content">
    @Body
</div>
